@import "tailwindcss";

:root {
  --background: #0B1220;
  --foreground: #F9FAFB;

  --primary: #2563EB;
  --primary-hover: #1D4ED8;

  --card: #111827;
  --border: #1F2937;

  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;

  --accent: #00D4FF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}